*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(244, 234, 234);
    color: rgb(18, 16, 16);
}
.head{
    background-color: rgb(127, 105, 157);
    border-radius: 20px;
    margin: 25px auto;
    width: 500px;
    text-align: center;
    text-decoration: none;
    border: 3px solid rgb(166, 153, 177);

}
form{
    margin: 25px auto;
    width: 600px;
}

legend{
    border-radius: 25px;
    border :2px solid rgb(164, 118, 209);
    margin: 25px ;
    padding: 15px;
}
td{
   padding: 10px 12px;
  
}
table {
    width: 100%;
    border-spacing: 0 12px; 
}
fieldset{
    margin-top: 25px;
    padding:25px;
    border: 3px solid rgb(166, 153, 177);
    border-radius: 20px;
}
label{
    font-weight: 900px;
    font-size: 15px;
}
input,textarea,select{

   border-radius: 12px;
   font-size: 15px;
   padding: 10px;
}
input[type="text"]
input[type="tel"]
input[type="email"]
input[type="number"]
input[type="date"]{
    width: 100%;
    background-color: rgb(148, 86, 188);
    color: rgb(187, 133, 187);
    font-weight: 600;
    border: 5px solid rgb(164, 93, 164);
}
p{
    background-color: rgb(121, 86, 162);
    padding: 10px;
    margin-top: 5px;
    border-radius: 12px;
    font-weight: 700;
    display: none;
}
input:focus + p{
    display: block;
}


